exportPattern("^[[:alpha:]]+")
S3method(print, ccs_reads)
S3method(denoise, ccs_reads)
S3method(frame, ccs_reads)
S3method(aa_check, ccs_reads)
S3method(adjust, ccs_reads)
S3method(consensus, ccs_reads)
S3method(write_fasta, ccs_reads)
S3method(write_fastq, ccs_reads)
